/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Align items vertically */
}

header h1 {
    margin: 0;
}

button {
    background-color: #555;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}

main {
    padding: 20px;
    margin-bottom: 60px; /* Adjust the margin based on your footer's height */
}

#articles {
    margin-top: 20px;
}

article {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

article h2 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Add this at the end of styles.css */
.dark-theme {
    background-color: #222;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    /* Mobile styles */
    header {
        padding: 10px 5px;
    }

    button {
        padding: 5px;
    }

    main {
        padding: 10px;
        margin-bottom: 60px; /* Adjust the margin based on your footer's height */
    }

    #articles {
        margin-top: 10px;
    }

    article {
        padding: 10px;
    }
}
